body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.weatherPage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-image: url("../img/background.jpg");
    background-size: cover;
    padding-top: 100px;
}

.todayWeather {
    width: 600px;
    height: 300px;
    margin-top: 50px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 50px 50px 75px;
    column-gap: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px silver;
}

.todayWeather_icon {
    width: 150px;
}

.todayWeather__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
}

.weatherSearch {
    display: flex;
    justify-content: center;
    width: 600px;
}

.weatherSearch__input {
    width: 60%;
    padding-left: 20px;
    height: 30px;
    border: none;
    border-radius: 25px;
    outline: none;
}

.anotherDayWeather_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.anotherDayWeather__item {
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px silver;
}

.anotherDayWeather__img {
    width: 50%;
}